* {
	margin: 0;
	padding: 0;
}

body::-webkit-scrollbar {
	width: 0em;
}

/* ------------------------ Main div ------------------------ */

.inventory-section h1 {
	margin: 10px 55px;
}
.inventory-box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	user-select: none;
	padding: 10px;
	width: 100%;
	margin: 0 auto;
	row-gap: 20px;
	overflow-x: hidden;
}
.product-item {
	flex: 0 0 20%;
	display: flex;
	flex-direction: column;
}
.product-item span {
	width: 150px;
	padding: 3px;
	user-select: text;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	margin: 0 auto;
	user-select: none;
	cursor: pointer;
}

.product-image {
	width: 150px;
	height: 200px;
	margin: 0 auto;
	cursor: pointer;
}

.product-list {
	width: 95%;
	padding: 10px;
	margin: 10px auto;
}
.btn {
	width: 150px !important;
	text-align: center !important;
	margin: 0 auto;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

/* ------------------------ Index page  ------------------------ */
.dropdown-item:first-child {
	user-select: none;
}
